page-login {

  .app-name{
    color: #0a9ec7;
    padding-bottom: 20px;
    font-size: large;
  }
  .div-center{
    align-items: center;
    text-align: center;
  }
  .btn-down{
    padding-bottom: 25px;
    align-items: center;
    text-align: center;
  }
  log-font{
    font-size: 1.5rem;
  }
  .social-icon{
    font-size: 35px;
  }

  p {
    font-size: 0.8em;
    color: #d2d2d2;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

  .login-button{
    padding-top: 45px;
    align-items: center;
    align-content: center;
  }
}
