page-login {

  .grad-icon{
    font-size: 110px;
    color: #0a9ec7;
  }
  .app-name{
    color: #0a9ec7;
    padding-bottom: 20px;
    font-size: large;
  }
  .div-center{
    align-items: center;
    text-align: center;
  }
  .btn-down{
    padding-bottom: 25px;
    align-items: center;
    text-align: center;
  }
  log-font{
    font-size: 1.5rem;
  }
  .social-icon{
    font-size: 35px;
  }
}
